body{
  background-image: url('./assets/bg-1.jpg');
  background-size: cover; 
  background-position: top center; 
  font-family: 'Lemonada', cursive;
}

.App {
  text-align: center;
  background-image: url('./assets/bg-1.jpg');
  background-size: cover; 
  background-position: top center; 
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-class{
  background-color: rgb(173, 18, 18);
  color: yellow;
  font-family: 'Lemonada', cursive;
  
}

.nav-link{
  font-size: 16px;
}

.navbar-brand {
  font-size: 2.25rem;
}

.figure-img {
  padding: 10px;
}

.back-btn{
padding: 15px;
align-items: 'center';
}

.all-orders-div{
margin: 10px;
}

/* .order-detail-card{
  width: '22rem';
  padding: '10px 40px';
} */

ul {
  padding-left: 0rem;
}

.optionsDiv{
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: rgb(8, 0, 0);
  font-weight: bold;
  border: 1px solid #080808;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  text-align: center;
  margin-top: 250px;
}

.orderDivText {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: rgb(8, 0, 0);
  font-weight: bold;
  border: 1px solid #080808;
  border-radius: 10px;
  position: relative;
  left: 50%;
  /* top: 31%; */
  transform: translate(-50%, -16%);
  z-index: 2;
  /* width: 30%; */
  /* padding: 20px; */
  /* text-align: center; */
  /* margin-top: 106px; */
}

.placeOrderDivText {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: rgb(8, 0, 0);
  font-weight: bold;
  border: 1px solid #080808;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 30%;
  padding: 20px;
  margin-top: 275px;
}

.cardDiv{
  border:rgb(1, 0, 5) solid 1.5px;
  border-radius: 10px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logoDiv{
 
  /* background-image: url('./assets/bg-1.jpg'); */
  background-size: cover; 
  background-position: top center; 
}

.btn{
  background-color:rgb(173, 18, 18);
}

.btn:hover{
  background-color:rgb(240, 187, 72);
}